<head>
    {{ with .Keywords }}
        <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">{{ end<head>
    <meta charset="utf-8"/>
    {{ with .Keywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}">
    {{ end }}
    {{ with .Description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/images/fav/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/images/fav/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/images/fav/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/images/fav/site.webmanifest" rel="manifest">
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    {{ range .Site.Params.css -}}
        <link href="/{{ . }}" rel="stylesheet"/>
    {{- end }}
    {{ partial "extra_head.html" . }}
</head>
